<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: headTag"></div>

    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <script th:src="@{/js/validatePassword.js}" defer></script>
</head>
<body>

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Your own ticket board</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="POST" th:action="@{/register}"
                  th:object="${userTo}">


                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label"><span class="req">* </span>Your name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" th:field="*{name}" class="form-control" name="name" id="name"
                                   placeholder="Your Name"/>
                        </div>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label"><span class="req">* </span> Your E-mail</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>

                            <input type="text" id="email" name="email" th:field="*{email}" class="form-control"
                                   placeholder="Enter your Phone Number"/>
                        </div>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="cols-sm-2 control-label"><span class="req">* </span> Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" th:field="*{password}"
                                   id="newPassword"
                                   placeholder="Enter Your Password" class="form-control"/>
                        </div>

                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="cols-sm-2 control-label"><span class="req">* </span> Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" id="confirmPass"
                                   placeholder="Enter again to validate" class="form-control" onkeyup="checkPass(); return false;"/>
                        </div>
                        <span id="confirmMessage" class="confirmMessage"></span>
                    </div>
                </div>

                <div class="form-group ">
                    <button id="validButton" name="Submit" type="submit" class="btn btn-primary btn-lg btn-block login-button"
                            th:text="Register" disabled></button>
                </div>
                <div class="login-register">
                    <a th:href="@{/login}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>